<div class="fusion-fullwidth fullwidth-box fusion-builder-row-10 fusion-flex-container has-pattern-background has-mask-background vs-footer-downloads-sm nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="margin-top: 20px; border-radius-top-left:0px;border-radius-top-right:0px;border-radius-bottom-right:0px;border-radius-bottom-left:0px;background-color:#3b2e58;flex-wrap:wrap;"><div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start fusion-flex-content-wrap" style="max-width:calc( 1600px + );margin-left: calc(- / 2 );margin-right: calc(- / 2 );"><div class="fusion-layout-column fusion_builder_column fusion-builder-column-18 fusion_builder_column_1_1 1_1 fusion-flex-column" style="bg-size:cover;width-large:100%;margin-top-large:15px;margin-bottom-large:15px;width-medium:100%;order-medium:0;width-small:100%;order-small:0;"><div class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-justify-content-flex-start fusion-content-layout-column"><style type="text/css">
	.hero-grid-col-1 .versions-grid-logos .vscom-icon--LinuxLogo32, .hero-grid-col-2 .versions-grid-logos .vscom-icon--LinuxLogo32, .hero-grid-col-2 .versions-grid-logos .vscom-icon--WindowsLogo {
    color: #4d4d4d;
}
</style><div class="fusion-text fusion-text-14 hero-grid--footer">
    
<div class="hero-grid-inner-wrap container" style="padding: 30px 0">
          <div class="row">
<div class="hero-grid-column hero-grid-col-1 col">
<div class="hero-grid-item hero-grid-header hero-grid-col-1 hero-grid-row-1"><img decoding="async" src="https://visualstudio.microsoft.com/wp-content/uploads/2021/10/Product-Icon.svg" alt="Visual Studio Win 2022 logo" height="90"></div>
<div class="hero-grid-item hero-grid-product hero-grid-col-1 hero-grid-row-2">
<div class="vs-hero-block">
<h3 class="vscom-footer-downloads-title title-heading-tag fusion-responsive-typography-calculated">Visual Studio</h3>
<p><span class="hero-grid-subtitle"><span class="hero-grid-logos1"><i class="vscom-icon vscom-icon--WindowsLogo"></i></span></span></p>
</div>
</div>
<div data-bi-id="Footer download" class="fusion-alignleft downloads-button-wrapper"><a href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&amp;channel=Release&amp;version=VS2022&amp;source=VSLandingPage&amp;passive=false&amp;cid=2030"  target="_blank" class="vscom-btn-primary fill-violet grow-ellipse mseng-track-win" rel="noopener" data-bi-id="Footer download" data-bi-name="Free Download">Free download</a></div>
</div>
<div class="hero-grid-column hero-grid-col-2 col">
<div class="hero-grid-item hero-grid-header hero-grid-col-2 hero-grid-row-1" data-bi-id="Hero"><img decoding="async" src="https://visualstudio.microsoft.com/wp-content/uploads/2021/10/vs-code-responsive-01-1.png"  height="90"></div>
<div class="hero-grid-item hero-grid-product hero-grid-col-2 hero-grid-row-2">
<div class="vs-hero-block">
<h3 class="vscom-footer-downloads-title title-heading-tag fusion-responsive-typography-calculated">Visual Studio Code</h3>
<p><span class="hero-grid-subtitle"><span class="hero-grid-logos1"><i class="vscom-icon vscom-icon--WindowsLogo"></i></span></span></p>
</div>
</div>
<div data-bi-id="Footer download" class="fusion-alignleft downloads-button-wrapper"><a href="https://go.microsoft.com/fwlink/?LinkID=534107&amp;wt.mc_id=DX_841432&amp;sku=codewin" target="_blank" class="vscom-btn-primary fill-blue grow-ellipse mseng-track-win" rel="noopener" data-bi-id="Footer download" data-bi-name="Free Download">Free download</a></div>
</div>
</div>
</div>
</div></div></div></div></div>

<footer class="mt-auto text-white-50 site-footer p-4">
    <div>Hackaton <span class="text-white"> 2024</span></div>
</footer>

@code {

}
