<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#" aria-label="Product">
            <img decoding="async" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1MmB8?ver=6c43g" alt="Visual Studio Win 2022 logo" height="24">
        </a>
        <a class="py-2 d-none d-md-inline-block" href="https://visualstudio.microsoft.com/vs/">Visual Studio</a>
        <a class="py-2 d-none d-md-inline-block" href="https://visualstudio.microsoft.com/vs/features/">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="https://visualstudio.microsoft.com/vs/getting-started/">Get Started</a>
        <a class="py-2 d-none d-md-inline-block" href="https://learn.microsoft.com/visualstudio/?view=vs-2022">Documentation</a>
        <a class="py-2 d-none d-md-inline-block" href="https://devblogs.microsoft.com/visualstudio/">Blog</a>
    </nav>
</header>

@code {
    public string Title = "What's New in Visual Studio 2022";
}
