@{
    if (ItemSummary == null)
    {
        
    }
    else
    {

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 card-container cursor-pointer user-select-none" style="cursor:pointer;">
              <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden card-inner-container"  >
                <div class="shadow-sm mx-auto" style="max-height: 200px;" >
                    <img style="height: 220px;" src="@ItemSummary.ImageBase64" alt="Screenshot of @ItemSummary.Title">
                    <div class="btn btn-secondary btn-sm m-2 bottom-0 end-0 version-btn">
                        <span>@ItemSummary.Version</span>+
                    </div>
                </div>
                <div class="my-3" style="background-color: #000 !important; margin-bottom: 0 !important;">
                  <h6 class="card-title text-light bg-dark p-2 w-100 card-caption">@ItemSummary.Title</h6>
                </div>
              </div>
            </div>

    }
}

@code {
    [Parameter] 
    public WhatsNewItemSummary? ItemSummary { get; set; } = null;

}
