@page "/Features"
@layout MinLayout
@rendermode InteractiveServer
@using Markdig
@using Microsoft.AspNetCore.WebUtilities
@using WhatsNewWebsite.Web.Components.Layout
@inject WhatsNewApiClient _whatsNewApiClient;
@inject NavigationManager NavManager

<PageTitle>@this.Title</PageTitle>

<div class="px-3">
        <div class="hero-content">
            <h1 class="text-center text-white p-4">@this.Title</h1>
        </div>

    @{
        if (ItemSummaries == null)
        {
            <div class="justify-content-center container">
                <div class="alert alert-secondary d-flex align-items-center m-4" role="alert">
                    <div>
                        <div class="spinner-border" role="status"></div>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div class="m-4" />
                </div>
            </div>
        }
        else if (ItemSummaries.Count == 0)
        {
            <div class="justify-content-center container">
                <div class="alert alert-secondary d-flex align-items-center m-4" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <div>
                        Sorry, looks like we've got nothing...
                    </div>
                </div>

                <div class="m-4" />
            </div>
        }
        else
        {
            <div class="summary-card-container justify-content-center d-flex flex-wrap">
                @foreach (var itemSummary in ItemSummaries)
                {
                    
                    <SummaryCard ItemSummary="@itemSummary"></SummaryCard>
                }
            </div>
        }
    }
</div>

@code {
    
    public string Title = "GitHub Copilot features is Visual Studio 2022";
    public List<WhatsNewItemSummary>? ItemSummaries { get; set; }

    
    protected override async Task OnInitializedAsync()
    {
        ItemSummaries = await _whatsNewApiClient.GetAllSummaries();
    }

}

